In [1]:
%config Completer.use_jedi = False

In [2]:
import pandas as pd, numpy as np

In [3]:
data=pd.read_excel('countriesMarch2021.xls', sheet_name='Tabela - 2021-04-28T082613.292', skiprows=2, usecols="B:F")

In [4]:
data

,Naziv,Izvoz,Uvoz,Indeks - izvoz,Indeks - uvoz
0,UKUPNO,422522,504015.0,102.1,103.1
1,"Žive životinje, osim životinja iz odseka 03",-,1.0,-,1.9
2,Meso i prerade od mesa,109,3574.0,18.4,120.7
3,Mlečni proizvodi i ptičja jaja,17,1580.0,43,125.4
4,"Ribe, ljuskari, mekušci i prerađev. od njih",1638,849.0,102.3,137.8
...,...,...,...,...,...
61,"Razni gotovi proizvodi, nigde nepomenuti",8658,16709.0,101.6,105.1
62,Zlato(osim ruda i koncentrata zlata),-,1.0,-,-
63,Nerazvrstana roba,4,55810.0,0.8,116.1
64,NaN,NaN,NaN,NaN,NaN
65,NaN,NaN,NaN,NaN,NaN

In [5]:
data.dropna(inplace=True)

In [6]:
data['Indeks - izvoz']

0     102.1
1         -
2      18.4
3        43
4     102.3
      ...
59      126
60        *
61    101.6
62        -
63      0.8
Name: Indeks - izvoz, Length: 64, dtype: object

In [7]:
data.replace('*',0, inplace=True)
data.replace('-',0, inplace=True)

In [8]:
pd.to_numeric(data['Indeks - izvoz'])

0     102.1
1       0.0
2      18.4
3      43.0
4     102.3
      ...
59    126.0
60      0.0
61    101.6
62      0.0
63      0.8
Name: Indeks - izvoz, Length: 64, dtype: float64

In [9]:
data['exp_var'] = pd.to_numeric(data['Indeks - izvoz'])
data['imp_var'] = pd.to_numeric(data['Indeks - uvoz'])

In [10]:
data.head()

,Naziv,Izvoz,Uvoz,Indeks - izvoz,Indeks - uvoz,exp_var,imp_var
0,UKUPNO,422522,504015.0,102.1,103.1,102.1,103.1
1,"Žive životinje, osim životinja iz odseka 03",0,1.0,0.0,1.9,0.0,1.9
2,Meso i prerade od mesa,109,3574.0,18.4,120.7,18.4,120.7
3,Mlečni proizvodi i ptičja jaja,17,1580.0,43.0,125.4,43.0,125.4
4,"Ribe, ljuskari, mekušci i prerađev. od njih",1638,849.0,102.3,137.8,102.3,137.8

In [11]:
data['exp'] = pd.to_numeric(data['Izvoz'], downcast='float')
data['imp'] = pd.to_numeric(data['Uvoz'], downcast='float')

In [12]:
data = data[['Naziv','exp','imp','exp_var','imp_var']]

In [13]:
data.head()

,Naziv,exp,imp,exp_var,imp_var
0,UKUPNO,422522.0,504015.0,102.1,103.1
1,"Žive životinje, osim životinja iz odseka 03",0.0,1.0,0.0,1.9
2,Meso i prerade od mesa,109.0,3574.0,18.4,120.7
3,Mlečni proizvodi i ptičja jaja,17.0,1580.0,43.0,125.4
4,"Ribe, ljuskari, mekušci i prerađev. od njih",1638.0,849.0,102.3,137.8

In [14]:
data.sort_values(by='exp', ascending=False).head(11)

,Naziv,exp,imp,exp_var,imp_var
0,UKUPNO,422522.0,504015.0,102.1,103.1
52,Drumska vozila (uključujući i ACV vozila),75099.0,36332.0,63.3,63.6
57,Odevni predmeti i pribor za odevanje,42726.0,6662.0,100.8,61.3
58,Obuća,41787.0,5708.0,109.1,87.4
5,Žitarice i proizvodi na bazi žitarica,27029.0,4176.0,143.1,109.0
42,Gvožđe i čelik,23257.0,23414.0,92.3,118.6
51,"Električne mašine, aparati i uređaji, nn",22367.0,17177.0,162.2,100.3
37,"Proizvodi od kaučuka, nigde nepomenuti",16944.0,4157.0,111.0,92.3
39,"Hartija, karton i proizvodi od celuloze",12673.0,14247.0,175.0,105.4
44,"Proizvodi od metala, nigde nepomenuti",11741.0,21185.0,85.0,118.3
36,"Koža, proizv. od kože, nn, i obrađena krzna",10702.0,26599.0,132.6,97.7

In [15]:
data.dtypes

Naziv       object
exp        float32
imp        float32
exp_var    float64
imp_var    float64
dtype: object

In [16]:
data.shape

(64, 5)